.forgot .main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    background-color: #fff;
    padding: 160px 15px;
    border-radius: 20px;

}

.forgot .ant-form-item {
    margin-bottom: 30px;
}

.forgot .title-area span {
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    opacity: 0.6;
    color: #000E22;
    line-height: 19px;
}
